
<div class="center">
  <% unless @vendor.blank? %>
  <%= @vendor.name %>
  <%= @vendor.bio %>
<% end %>
<div class="row">
  <% @listings.each do |listing| %>
    <div class="col-md-3">
      <div class="thumbnail">
        <%= link_to image_tag(listing.image.url), listing %>

      <div class="caption">
        <h3><%= listing.name %></h3>
        <p><%= link_to listing.user.name, vendor_listings_path(:vendor_id => listing.user.to_param) %></p>
        <p><%= number_to_currency(listing.price, :unit => "£") %></p>
        <p><%=  %></p>
      </div>
    </div>
        
    </div>

  <% end %>
</div>

</div>

<br>
<% if user_signed_in? %>
<%= link_to 'New Listing', new_listing_path, class: "btn btn-primary" %>
<% end %>

