<% if @vendor.blank? %>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <%= link_to image_tag("1.jpg", :alt => "Slide1"), {:class => "img-responsive", :alt => "Responsive image"} %>
      <div class="carousel-caption">
        <h2>Curated Designer Furniture</h2>
        <h4>Buy and sell pre-loved designer furniture.</h4>
      </div>
    </div>
    <div class="item">
      <%= link_to image_tag("1.jpg", :alt => "Slide1"), {:class => "img-responsive", :alt => "Responsive image"} %>
      <div class="carousel-caption">
        <h2>Curated Designer Furniture</h2>
        <h4>Buy and sell pre-loved designer furniture.</h4>
      </div>
      </div>
    </div>
  </div>
</div>

<% end %>

<div class="center">
  <div id="vendor-info">
  <div class="row">
  <div class="col-md-5">
  <% unless @vendor.blank? %>
    <%= image_tag @vendor.cover_image %>
  <% end %>
</div>

  <div class="col-md-3">
      <% unless @vendor.blank? %>
    <%= @vendor.name %>
    <%= @vendor.bio %>
  <% end %>
  </div>
</div>
</div>

<div class="row">
  <% if @vendor.blank? then @listings.each do |listing| %>
    <div class="col-md-3">
      <div class="thumbnail">
        <%= link_to image_tag(listing.image.url), listing %>

      <div class="caption">
        <h3><%= listing.name %></h3>
        <p><%= link_to listing.user.name, vendor_listings_path(:vendor_id => listing.user.to_param) %></p>
        <p><%= number_to_currency(listing.price, :unit => "£") %></p>
      </div>
    </div>       
    </div>
  <% end %>
</div>
</div>
<% end %>


<div class="row">
  <% if @vendor.present? then @vendor.listings.each do |listing| %>
    <div class="col-md-3">
      <div class="thumbnail">
        <%= link_to image_tag(listing.image.url), listing %>

      <div class="caption">
        <h3><%= listing.name %></h3>
        <p><%= link_to listing.user.name, vendor_listings_path(:vendor_id => listing.user.to_param) %></p>
        <p><%= number_to_currency(listing.price, :unit => "£") %></p>
      </div>
    </div>       
    </div>
    <% end %>
  <% end %>
</div>
</div>



